* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CartMain {
    margin: 6rem 0;
}

.CartHead {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.5rem;
}

.CartItemDiv {
    margin: 2rem auto;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

.CartItem {
    margin: .8rem 1rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 10px rgb(215, 213, 213);
    border-radius: 20px;
}

.CartItembottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .9rem;
}

.select {
    min-width: 2rem;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.3em 0.5em;
    font-size: 13px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.CartItemImgDiv {
    width: 15vw;
}

.CartItemImg {
    width: 50%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.CartItemContentDiv {
    width: 25vw;
    padding: .5rem 1rem;
    border-left: 1px solid pink;
    margin: .5rem 0;
}

.CartItemTitle {
    margin: .5rem 0;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.CartItemSize,
.CartItemColor,
.CartItemStatus,
.CartItemQty {
    margin: .5rem 0;
    font-size: .9rem;
}


.CartItemTrack {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 .5rem 0;
}

.CartItemOrderDate, .CartItemrackOr {
    font-size: small;
    color: gray;
}

.CartItemrackOr, .CartDltBtn {
    margin-right: 2.3rem;
}

.CartDltBtn {
    flex: 0 1 auto;
    margin-left: .5rem;
    font-size: 60%;
    padding: .3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 6px;
    border: none;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.CartCheckout {
    margin: 1rem auto;
}

.CartCheckoutBtn {
    flex: 0 1 auto;
    margin: 1rem .5rem;
    padding: .7rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.CartCheckoutBtn:hover {
    cursor: pointer;
    background-position: right center;
}

.CartDltBtn:hover {
    cursor: pointer;
    background-position: right center;
}