.navbar {
    color: black;
    background-color: rgb(255, 255, 255);
    height: 4rem;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* Sticky */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* background-color: rgb(232, 155, 203); */
}

.nav {
    display: flex;
    padding: 1rem;
    margin-right: 1rem;
    justify-content: space-around;
    align-items: center;
}

.head {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.headD {
    font-size: x-large;
    color: rgb(227, 24, 58);
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}


.logo {
    width: 3rem;
    height: 1.5rem;
}

.tittle {
    margin-left: .5rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}


.navLink {
    padding-left: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.links {
    padding-right: 1rem;
}


.navLink:hover {
    color: rgb(229, 173, 173);
}

.navButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    border-left: 2px solid pink;
    padding: 0 1rem;
}

.userInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.username {
    margin: 0 .5rem;
}

.navAccimg:hover {
    transform: translateY(-1px);
}

.navAccimg:hover~.accDrop {
    display: block;
}

#toggler {
    display: table-column;
}

.menu {
    display: none;
}

.btn {
    flex: 0 1 auto;
    margin: 0 .5rem;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 8px;
    border: none;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn:hover {
    cursor: pointer;
    background-position: right center;
}

.dropbtn {
    background-color: inherit;
    border: none;
    color: black;
    padding-left: .5rem;
    font-size: 1rem;
}

.dropbtn:hover {
    color: rgb(229, 173, 173);
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: .5rem;
    background-color: inherit;
}

.accDrop {
    position: relative;
    display: inline-block;
    background-color: inherit;
}


/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 8rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.accDropcontent {
    display: none;
    position: absolute;
    padding-top: .5rem;
    background-color: #f1f1f1;
    min-width: 10rem;
    right: 7%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 3px;
}

/* Links inside the dropdown */
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.accDropcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.navCart {
    margin-right: 8px;
}

.navCartIcon:hover {
    cursor: pointer;
}

.ACCIMG:hover {
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.accDrop:hover .accDropcontent {
    display: block;
}

@keyframes SlideFromRight {
    from {
        right:-100%;
    }

    to {
        right: 0%;
    }
}

.SideCart {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 12vw;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 1000;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    animation: .5s SlideFromRight;
}
.SideCartItemDiv {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.SideCartSubtotal {
    margin-left: -1rem;
    font-size: medium;
}

.SideBarClose{
    margin: 1rem .5rem;
    color: pink;
}

.SideCartItem {
    width: 100%;
    height: 3.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.AddDltItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SideCartBtn {
    width: 2em;
    height: 1.5em;
    text-align: center;
    /* margin: 0 .5rem; */
}

.SideCartDltBtn {
    margin-left: 1rem;
    width: 2em;
}

.SideCartItemQty {
    background-color: rgb(218, 216, 216);
    padding: 0 1em;
    font-size: 15px;
}



@media screen and (max-width: 700px) and (min-width: 500px) {

    .navbar {
        height: 6rem;
    }

    .nav {
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
    }

    .navLinks {
        margin-top: .6rem;
    }

}




@media screen and (max-width: 500px) {
    .navbar {
        height: 7vh;
    }

    .nav {
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
    }


    .navLinks {
        display: none;
        position: absolute;
        right: 4%;
        top: 70%;
        background-color: #f1f1f1;
        min-width: 12rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .links {
        margin-top: 1rem;
    }

    .menu {
        display: block;
    }

    hr {
        display: none;
    }

    .navLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        align-content: center;
        padding: .5rem 1rem;
    }

    .dropdown {
        padding: .5rem;
    }

    .dropdownContent {
        position: absolute;
        background-color: #f1f1f1;
        min-width: 5rem;
        top: 50%;
        left: 90%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown:checked~.dropdownContent {
        display: block;
    }


    .navButton {
        size: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }


    #toggler {
        display: block;
        position: absolute;
    }

    .nav lablel {
        display: block;
        align-items: center;
        cursor: pointer;
    }

    .menu {
        cursor: pointer;
    }

    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .toggler:checked~.navLinks {
        display: block;

    }

    .dropdown:checked~.dropdownContent {
        display: block;
    }

    .navButton {
        margin-left: 0;
    }

    .btn {
        padding: .5rem;
    }

}