* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
} 

html::-webkit-scrollbar {
    display: none;
} 

.container{
    margin-top: 4.2rem;
    width: 100vw;
    /* background-color: aqua; */
}

@media screen and (max-width: 700px) and (min-width: 500px) {
    .container{
        margin-top: 7rem;
    }
}
